html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100vh;
  position: relative;
  margin-left: 100px;
}

.container h1 {
  margin-left: 15px;
  font-size: 48px;
  font-family: 'Century Gothic', sans-serif;
}

.container-risks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  margin-left: 30px;
}

.container-risks p {
  margin-bottom: 30px;
}

.button {
  position: relative;
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid #439746;
  border-radius: 30px;
  cursor: pointer;
  z-index: 1;
  background-color: white;
  color: black;
  font-size: 16px;
  overflow: hidden;
  transition: color 0.3s ease;
}

.button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #439746;
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
              7px 7px 20px 0px rgba(0, 0, 0, 0.1),
              4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.button:hover {
  color: white;
}

.button:hover:after {
  left: 0;
  width: 100%;
}

.start-button {
  width: 200px;
  height: 50px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: -5px;
  background-color: white;
}

.resources-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 51.25%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 95%;
  border: 3px solid black;
  border-radius: 30px;
}

.risk-buttons-container {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.risk-button {
  background-color: rgb(199, 199, 199);
  color: black;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
  z-index: 1;
  overflow: hidden;
  transition: color 0.3s ease, background-color 0.3s ease;
  position: relative;
}

.risk-button:before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #439746;
  border-radius: 30px;
  transition: width 0.3s ease, left 0.3s ease;
  width: 0;
}

.risk-button:hover:before {
  width: 100%;
}

.risk-button:after {
  left: 100%;
}

.risk-button:hover:after {
  left: 0;
  width: 100%;
}

.risk-button:hover {
  color: white;
}

.risk-button.selected {
  color: white;
  background-color: #439746;
}

.container-resources {
  margin-left: 30px;
  margin-right: 10px;
  text-align: center;
  padding: 50px;
  position: relative;
}

.container-resources h1 {
  margin-top: 35px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.card {
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.card a {
  display: block;
  margin-top: 10px;
  color: #439746;
  text-decoration: none;
}

.card a:hover {
  color: #0056b3;
  text-decoration: underline;
}
